.c-container {
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.c-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: .2s ease-in-out;
}

.c-card:hover {
    background-color: #12558825;
    transform: scale(1.05);
}

.c-card i {
    font-size: 55px;
    padding: 4px;
    color: #023f6e;
}

.c-card a {
    text-decoration: none;
    cursor: pointer;
}

.c-card h4 {
    padding: 10px 0 2px 0;
}

.c-card a h5 {
    font-size: medium;
    font-weight: 500;
    color: rgb(95, 95, 95);
}

/* RIGHT SIDE  */
.right {
    width: 60%;
    margin-top: .8rem;
}
.form-heading{
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
}
.form-heading h4{
    margin-bottom:17px;
}
.form-heading i{
    font-size: 2rem;
    margin-left: .6rem;   
    color: var(--blue); 
}

.right form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-left: 3rem;
}

form input,
form textarea {
    width: 75%;
    padding: 0.7rem;
    outline: none;
    border: .099rem solid var(--gray);
    font-size: 1rem;
    font-weight:normal;
}
form input::placeholder,
form textarea::placeholder {
    font-size: 1rem;
    font-weight:normal;
}

textarea:focus,
input:focus {
    border: .1rem solid var(--blue);
}

.f-button {
    display: flex;
    width: fit-content;
}

.f-button span {
    margin-left: 3px;
}

