#Navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 0 3.5rem;
}

.n-wrapper {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.n-left {
    display: flex;
    flex: 1;
    align-items: center;
    /* gap: 2rem; */

}

.n-left img {
    height: 70%;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

/* .n-list {
    flex: 10;
} */

.n-list ul {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.n-list ul li {
    list-style: none;
    font-size: .9rem;
    border-bottom: 2px solid transparent;
    margin-top: .7rem
}

.n-list ul li:hover {
    cursor: pointer;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    transition: .1s ease-out;
}

.n-button {
    width: 120px;
    padding: 11px 11px;
}

.n-button i {
    margin-left: 5px;

}

/* Responsive design */

#mobile {
    display: none;
}

#mobile i {
    color: var(--black);
    font-size: 2rem;
    margin: 1.3rem 1rem 0 0;
    /* width: 1.5rem; */
}

@media screen and (max-width:1100px) {

    .n-right {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        justify-content: flex-start;
        top: 90px;
        right: 0;
        width: 300px;
        height: 100vh;
        /* background-color: pink; */
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 50px 0 0 20px;
        transition: .3s;
        z-index: 999;
    }

    .n-list ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: .8rem;
    }

    #mobile{
        display: block;
    }
}