#Navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 0 3.5rem;
}

.n-wrapper {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.n-left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;

}

/* trial */
.n-left img {
    height: 80%;
}

.n-name {
    font-family: Love Light;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--blue);
    cursor: pointer;

}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.n-list {
    flex: 10;
}

.n-list ul {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.n-list ul li {
    list-style: none;
    font-size: .9rem;
    border-bottom: 2px solid transparent;
}

.n-list ul li:hover {
    cursor: pointer;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    transition: .1s ease-out;
}

.n-button {
    /* flex: 2; */
    width: 120px;
    padding: 11px 11px;
}

.n-button i {
    margin-left: 5px;

}