.Intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

/* LEFT SIDE */

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

.i-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name span {
  color: var(--black);
  font-weight: bold;
  font-size: 2.5rem;
}

#name {
  color: var(--orange);
}
.typeeffect{
  display: flex;
  align-items: center;
}
.typeeffect h4{
  margin: 0 7px 0 0;
  font-size: 1.5rem;
}
.Typewriter__wrapper{font-size: 1.5rem;}
 


.i-para {
  /* font-weight: 400; */
  font-size: 16px;
  color: var(--gray);
  margin-top: 10px;
}

.i-button {
  height: 3rem;
  width: 200px;
  padding: 11px 16px 11px 16px;
  margin: 5px;
}
.i-button a{
  text-decoration: none;
  font-size:large;
  color: var(--white);
  
}
.i-button i{
  font-weight: 500;
  margin-right: 10px;
  font-size: 1.2rem;
}