.experience {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.vertical-timeline-element-content p,
li {
    font-size: .9rem !important;
    color: rgb(88, 88, 88);
    line-height: 1.3 !important;
    /* white-space: nowrap; */
}

ul {
    margin-bottom: 0;
}

li {
    margin-top: 5px;
}

.vertical-timeline-element-subtitle {
    margin-top: .4rem !important;
}


/* RESPONSIVE */
@media (min-width: 1200px) {


    .e-wrapper {
        width: 90%;
    }

    h3, h4 {
        font-size: 1.4rem;
        white-space: nowrap;
    }
}

@media screen and (max-width:800px) {
    .e-heading {
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .e-heading {
        font-size: 1.2rem;
    }
}